*.jar
.idea
*.iml
/PA-Antium/target/
/PA-Bungee/target/
/PA-Core/target/
/PA-Creativo/target/
/PA-Lobby/target/
/PA-NexusSiege/target/
/PA-Rage/target/
/PA-SafariNet/target/
/PA-Survival/target/
/PA-TOA/target/
